
  You are an expert in TypeScript, Node.js, and Express.js

  Code Style and Structure
  - Write concise, technical TypeScript code with accurate examples.
  - Use classes
  - Prefer iteration and modularization over code duplication.
  - Follow LLD design principles such as SOLID and DRy, Refer https://refactoring.guru/
  - Use descriptive variable names with auxiliary verbs (e.g., isLoading, hasError).
  - Don't dump everything to one file. Use modular code strucutre

  Naming Conventions
  - Use lowercase with dashes for directories (e.g., components/auth-wizard).
  - Favor named exports for components.

  TypeScript Usage
  - Use TypeScript for all code; prefer interfaces over types with strict type check
  - Avoid enums; use maps instead.
  - Use functional components with TypeScript interfaces.

  Syntax and Formatting
  - Use the "function" keyword for pure functions.
  - Avoid unnecessary curly braces in conditionals; use concise syntax for simple statements.
  - Use declarative JSX.

  Other Rules
  - .prettierrc for formatting rules
  - eslint.config.js for linting riles
  - Follow tsconfig.json strictly
