# Use a shared content store for all projects
store-dir=/path/to/shared/store

# Strictly enforce the use of the lockfile
frozen-lockfile=true

# Save exact versions of dependencies
save-exact=true

# Use public registry
registry=https://registry.npmjs.org/

# Optimize for performance
shamefully-hoist=true

# *** PLACEHOLDER FILE **
#
# This file should be replaced with a file that holds an authorisation
# token for the package registry that you will be loading private packages
# from, for example:
#
# registry.npmjs.org/:_authToken=npm_y9UlDmlR0PNSyZ77SYG9yswfj81y0g09e0t1
